
body {
  background-color:#EEE;
}

li{
  list-style: none;
}


.nav {
  width: 100%;
  min-height: 55px;
  /*margin-bottom: 32px;*/
  background-color: 	#D8D8D8;
}

.nav #logo{
  float: left;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.nav #nav-main{
  float: right;
}

#nav-main li{
  float: left;
  margin-left: 28px;
  font-size: 16px;
  line-height: 55px;
  font-family: "微软雅黑";
}

.bd {

  margin-bottom: 90px;
}

.bd #bd-box {
  max-width: 780px;
  min-width: 320px;
  margin: 0px auto;
}

.ft{
  background-color: 	#C8C8C8;
  height: 30px;
  text-align: center;
}

#ft-box {
  font-size: 0.5em;
  max-width: 780px;
  min-width: 320px;
  margin: 0px auto;
}






#clearfix{
  zoom: 1;
}
